<p>Http-Service works!</p>
<!-- <div *ngIf="employees.length"> -->
    <ol>
        <li *ngFor="let employee of employees">
            {{employee.name}}<br/>            
            {{employee.email}}<br/>
            {{employee.phone}}
        </li>
    </ol>
    <button (click)="postData()">Add Data</button>
    <button (click)="deleteData()">Delete Data</button>

    <br>
    <br>


    <!-- <form>
        <label>Enter Id:</label>
        <input type="text" [(ngModel)]="id" placeholder="Enter your id"/>
        <button type="button" (click)="patchData()">Get Data</button>
    </form> -->
    <!-- {{msg}} -->
<!-- </div> -->

