<p>Pipes Works!</p>
<h1>Pipes</h1>
<p> {{data | uppercase}} - Uppercase</p>
<p> {{data | lowercase}} - Lowercase</p>
<p> {{data | titlecase}} - Titlecase</p>
<br>
<br>
<p> {{date | date:'shortDate'}} - Short Date</p>
<p> {{date | date:'shortTime'}} - Short Time</p>
<p> {{date | date:'longDate'}} - Long Date</p>
<!-- <p> {{date | date:'medium'}} - Medium(shows date and time)</p>
<p> {{date | date:'fullDate'}} - Full Date</p>
<p> {{date | date:'short'}} - Short</p>
<p> {{date | date:'mediumTime'}} - Medium Time(with seconds)</p>
<p> {{date | date:'mediumDate'}} - Medium Date</p>
<p> {{date | date:'longTime'}} - Long Time</p>
<p> {{date | date:'long'}} - Long</p> -->
<br>


<p>{{msg}}</p>
<p> {{msg | slice:8:15}} - Slice (8 to 15)</p>
<!-- <p>{{msg | startswith:'This'}}</p> -->
 <p>{{num | currency: 'INR'}} </p>
 <p>{{num | number: '1.0-2' }} </p>
 <!-- <p>{{num | percent}}</p> -->
 <!-- <p>{{num | number: '1.0-2'  percent}} </p> -->
 <!-- <p>{{num | currency: 'INR'percent}} </p> -->
 <!-- <p>{{num | percent:'1.1-2'}}</p> -->